html>body {
    font-size: 18px;
    padding-top: 70px;
    line-height: 29px;
}

body h1, body .h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.post-data {
    font-style: italic;
    padding-bottom: 10px;
}
