# This is the main configuration file for the application.
# ~~~~~

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
application.secret="qOH2p9;8It1gQDEmlQRoPNdk]_@L<?X6BMAUU:w[MsX:4CNaLIrVNsw:5PPr7Mld"

# Authentication
# ~~~~~

blog.username = admin

# Use the md5 hash of (your md5 pass + md5 secretkey (use as a salt))
# Here is the md5 for the "admin" password
blog.password = 9db6a9f06688b2946ff257d1e98e7650

# Database configuration
# ~~~~~ 
# You can declare as many datasources as you want.
# By convention, the default datasource is named `default`
#
# db.default.driver=org.h2.Driver
# db.default.url=jdbc:h2:mem:play
# db.default.user=sa
# db.default.password=

# Logger
# ~~~~~
# You can also configure logback (http://logback.qos.ch/), by providing a logger.xml file in the conf directory .

# Root logger:
logger=ERROR

# Logger used by the framework:
logger.play=INFO

# Logger provided to your application:
logger.application=DEBUG

