@(form: Form[jousse.form.PostForm.Data])

@form.forField("title") { field =>
    <label for="@field.name">Title:</label><br />
    <input id="@field.name" class="textfield" type="text" name="@field.name" value="@field.value"/><br />
    @field.error.map { error =>
        <p class="error">
        @error
        </p>
    }
}
</div>

<div style="clear:both"></div>

@form.forField("content") { field =>
<div>
<label for="@field.name">Content</label>
<textarea id="@field.name" name="@field.name" class="textarea" cols="40" rows="10">@field.value</textarea><br />

    @field.error.map { error =>
        <p class="error">
        @error
        </p>
    }
}
<div style="clear:both"></div>

<input type="file" name="picture">

<div style="clear:both"></div>
