@(postForm: Form[jousse.form.PostForm.Data])(implicit request: Request[AnyContent])

@import helper._

@main("Create post") {
<div class="full-width">
    <h1>Create post</h1>
    <div class="thirty-margin-filler"></div>
    <a href="@jousse.controllers.routes.Blog.admin()">Admin home</a>
    @form(action = jousse.controllers.routes.Blog.createPost(), 'enctype -> "multipart/form-data") {
        <fieldset>
        <legend>Create post</legend>
        <div>
            @baseForm(postForm)
        </div>

        <input class="small button" type="submit" value="Submit" />
        </p>
        </fieldset>
    }
</div>
}
