@(post: jousse.models.Post, postForm: Form[jousse.form.PostForm.Data])(implicit request: Request[AnyContent])

@import jousse.util.Templating._
@import helper._

@main("Blog post") {
        <div class="full-width">
            <h1>Edit: @post.title</h1>
            <div class="thirty-margin-filler"></div>
            <a href="@jousse.controllers.routes.Blog.admin()">Admin home</a>
            @form(action = jousse.controllers.routes.Blog.update(post._id toString)) {
                @baseForm(postForm)
            }
        </div>
}

