@()(implicit request: Request[AnyContent])


@main("Blog admin") {
        <div class="full-width">
            <h1>Posts list</h1>
            <div class="thirty-margin-filler"></div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Header 3</th>
                        <th>Header 4</th>
                    </tr>
                    <tr>
                        <td>Division 1</td>
                        <td>Division 2</td>
                        <td>Division 3</td>
                        <td>Division 4</td>
                        <td>Division 5</td>
                    </tr>
                    <tr class="even">
                        <td>Division 1</td>
                        <td>Division 2</td>
                        <td>Division 3</td>
                        <td>Division 4</td>
                        <td>Division 5</td>
                    </tr>
                    <tr>
                        <td>Division 1</td>
                        <td>Division 2</td>
                        <td>Division 3</td>
                        <td>Division 4</td>
                        <td>Division 5</td>
                    </tr>
                    <tr class="even">
                        <td>Division 1</td>
                        <td>Division 2</td>
                        <td>Division 3</td>
                        <td>Division 4</td>
                        <td>Division 5</td>
                    </tr>
                    <tr>
                        <td>Division 1</td>
                        <td>Division 2</td>
                        <td>Division 3</td>
                        <td>Division 4</td>
                        <td>Division 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
}
