@(parent: String, pages: List[(String, String)] = List(("Tech blog","tech"), ("Research","research"), ("Github", "http://github.com/vjousse"), ("About","about")))

@current(route: String) = { @{if(parent == route || (parent + "/") == route || (parent.startsWith(route) && route != "/")) "class='current'" }}

<ul class="nav navbar-nav">
    @for((name,route) <- pages) {
        @if(!route.startsWith("http")) {
            <li@current(jousse.controllers.routes.Application.show(route).toString)><a href="@jousse.controllers.routes.Application.show(route)">@name</a></li>
        } else {
            <li><a href="@route">@name</a></li>
        }
    }
</ul>
