@(posts: List[jousse.models.Post])(implicit request: Request[AnyContent])

@sampleImage = { @routes.Assets.at("images/featured-image.png") }

@main("Blog") {

<!-- Content Start -->
<div class="three-fourth">
    <h1>Lorem Ipsum Dolor Sit Amet</h1>
    <div class="horizontal-rule"></div>
    <div class="blog-data">Posted <span class="black">07 April 2011</span> by <span class="black">Admin</span> - <span class="black">18</span> Comments</div>
    <div class="horizontal-rule"></div>
    <p>Fusce adipiscing rhoncus sem, non fringilla lacus interdum vel. Vivamus laoreet augue eu lectus porttitor eget convallis justo facilisis. Donec ultricies tempus mauris, nec viverra metus ornare et. Praesent auctor tempus ligula sed sollicitudin. Sed sollicitudin accumsan facilisis. Nulla aliquam, lacus quis varius porttitor, dolor lorem scelerisque lorem, vel sagittis purus nisl et lacus. Sagittis fringilla, massa et nunc. Fusce sollicitudin eros non mauris convallis gravida.</p>
    <div class="medium button">Read More</div>

    <div class="thirty-margin-filler"></div>
    <div class="horizontal-rule"></div>
    <div class="thirty-margin-filler"></div>

    <h1>Lorem Ipsum Dolor Sit Amet</h1>
    <div class="horizontal-rule"></div>
    <div class="blog-data">Posted <span class="black">07 April 2011</span> by <span class="black">Admin</span> - <span class="black">18</span> Comments</div>
    <div class="horizontal-rule"></div>
    <p><img src="@sampleImage" class="image" /></p>
    <p>Fusce adipiscing rhoncus sem, non fringilla lacus interdum vel. Vivamus laoreet augue eu lectus porttitor eget convallis justo facilisis. Donec ultricies tempus mauris, nec viverra metus ornare et. Praesent auctor tempus ligula sed sollicitudin. Sed sollicitudin accumsan facilisis. Nulla aliquam, lacus quis varius porttitor, dolor lorem scelerisque lorem, vel sagittis purus nisl et lacus. Sagittis fringilla, massa et nunc. Fusce sollicitudin eros non mauris convallis gravida.</p>
    <div class="medium button">Read More</div>

    <div class="thirty-margin-filler"></div>
    <div class="horizontal-rule"></div>
    <div class="thirty-margin-filler"></div>

    <h1>Lorem Ipsum Dolor Sit Amet</h1>
    <div class="horizontal-rule"></div>
    <div class="blog-data">Posted <span class="black">07 April 2011</span> by <span class="black">Admin</span> - <span class="black">18</span> Comments</div>
    <div class="horizontal-rule"></div>
    <p><img src="@sampleImage" class="image" /></p>
    <p>Fusce adipiscing rhoncus sem, non fringilla lacus interdum vel. Vivamus laoreet augue eu lectus porttitor eget convallis justo facilisis. Donec ultricies tempus mauris, nec viverra metus ornare et. Praesent auctor tempus ligula sed sollicitudin. Sed sollicitudin accumsan facilisis. Nulla aliquam, lacus quis varius porttitor, dolor lorem scelerisque lorem, vel sagittis purus nisl et lacus. Sagittis fringilla, massa et nunc. Fusce sollicitudin eros non mauris convallis gravida.</p>
    <div class="medium button">Read More</div>

    <div class="thirty-margin-filler"></div>
    <div class="horizontal-rule"></div>
</div>

<div class="one-fourth-last">

<!-- Twitter Feed Widget Start -->
<div class="one-fourth-last">
    <h5>Flux Twitter</h5>
    <div class="horizontal-rule"></div>
    <div id="twitter"></div>
</div>
<!-- Twitter Feed Widget End -->

</div>



}
