@(posts: List[jousse.models.Post])(implicit request: Request[AnyContent])

@sampleImage = { @routes.Assets.at("images/featured-image.png") }

@main("Blog") {

<!-- Content Start -->
<div class="full-width">
    <h1><a href="@jousse.controllers.routes.Blog.phpLove()">PHP: You love it or you leave it</a></h1>
    <div class="horizontal-rule"></div>
    <div class="blog-data">Posted <span class="black">07 March 2012</span> by <span class="black"><a href="http://twitter.com/vjousse">Vincent Jousse</a></span></div>
    <div class="horizontal-rule"></div>
    <p>
    I do love PHP. Well, to be more precise, I used to love PHP a lot, and I still respect it and people using/improving it. You can do whatever you want with PHP, from the very quick and dirty way, to the bloated framework way (oh c'mon). But it's maybe the right time to move on.</p>

    <div class="medium button"><a href="@jousse.controllers.routes.Blog.phpLove()">Read More</a></div>

</div>
<div class="full-width">
    <p>Je poste actuellement sur deux principaux blogs : <a href="http://www.amicalement-web.net">Amicalement-web</a> et <a href="http://www.knplabs.com/fr/blog">le blog knpLabs</a>. Vous trouverez ci-dessous les liens directs vers mes articles sur ces deux blogs. Pour faire simple, ça parle de web et de <strong>[s|S]ymfony</strong>.</p>
</div>
<div class="one-half">
    <h3>Amicalement-web</h3>
    <p>Vous trouverez directement la <a href="http://www.amicalement-web.net/author/vince/">list de mes posts sur le site</a>. Pour ceux qui n'ont pas le courage de cliquer, ci-dessous les liens directs.</p>
    <h6><a href="http://www.amicalement-web.net/la-mode-du-fonctionnel-pourquoi/2012/01/02/">La « mode » du fonctionnel : pourquoi ?</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/de-php-a-ruby-votre-premier-index-php-en-ruby/2011/05/23/">De PHP à Ruby : votre premier index.php en Ruby</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/generer-la-documentation-symfony2/2011/03/21/">Générer la documentation Symfony2</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/symfony-live-one-more-time/2011/02/28/">Symfony Live : one more time</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/doctrine2-au-revoir-activerecord-bonjour-datamapper/2011/01/03/">Doctrine2 : au revoir ActiveRecord, bonjour DataMapper !</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/ma-boite-a-outils-de-developpeur-web/2010/12/14/">Ma boîte à outils de développeur (web)</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/symfony-1-symfony2-et-django-sont-dans-un-bateau/2010/11/15/">symfony 1, Symfony2 et Django sont dans un bateau</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/dedibox-v3-ou-kimsufi/2010/08/30/">Dedibox V3 ou Kimsufi ?</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/twitter-et-facebook-sont-has-been-utilisez-github/2010/05/26/">Twitter et Facebook sont has-been, utilisez Github !</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/symfony-les-forms-et-les-forms-embarques/2010/03/08/">Symfony, les forms et les forms embarqués</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/jouer-avec-symfony-2-sur-github/2010/01/06/">Jouer avec Symfony2 sur github</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/symfony-et-les-tests/2009/10/13/">Symfony et les tests</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.amicalement-web.net/support-de-symfony-dans-netbeans-acheve/2009/10/02/">Support de symfony dans Netbeans achevé !</a></h6>
    <div class="horizontal-rule"></div>
</div>
<div class="one-half-last">
    <h3>KnpLabs</h3>
    <h6><a href="http://www.knplabs.com/fr/blog/symfony2-dic-extension">Create a Symfony2 DiC Extension</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.knplabs.com/fr/blog/agile-c-est-quoi">Agile : c'est beau, c'est chaud, mais qu'est-ce que c'est ?</a></h6>
    <div class="horizontal-rule"></div>
    <h6><a href="http://www.knplabs.com/fr/blog/don-t-reinvent-the-wheel">Don't reinvent the wheel¿</a></h6>
    <div class="horizontal-rule"></div>
</div>

<div class="one-fourth-last">

</div>



}
