@(posts: List[jousse.blog.Post])@import jousse.util.Templating._
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Vivre sa vie</title>
        <description>Développement personnel et expériences de vie.</description>
        <lastBuildDate>@rssDate(posts.head.createdAt)</lastBuildDate>
        <link>http://vincent.jousse.org</link>
        @for(post <- posts) {
        <item>
            <title>@Html(post.title)</title>
            <description>@Html(post.rawDescription.getOrElse("").replaceAll("_",""))</description>
            <pubDate>@rssDate(post.createdAt)</pubDate>
            <link>http://vincent.jousse.org@jousse.controllers.routes.Blog.post(post.slug.get)</link>
        </item>}
    </channel>
</rss>
