@()

@main("À propos", "/about") {
<h1>À propos</h1>
<h2>Pourquoi ?</h2>
<p>
Ce site est ma modeste contribution envers vous. Nous recevons tous les jours des personnes qui nous entourent, que nous soyions prêts à l'accepter ou non. Si quelques un des articles de ce site permettent à certain d'entre vous d'essayer de nouvelles choses dans leur vie, alors mon but sera atteint. J'espère tout simplement que les expériences et les réflexions que je vous fait partager ici vous serons utiles d'une façon ou d'une autre, ni plus, ni moins.
</p>
<h2>Par qui ?</h2>
<p>
Comme l'adresse du site vous le suggère, je m'appelle Vincent Jousse. J'ai actuellement 31 ans et je vis non loin du Mans. Je suis issu d'une famille ouvrière qui m'a appris à savourer la vie au jour le jour. Bien que je n'ai pas toujours eu ce que j'aurais voulu, ce manque relatif m'a permis d'apprendre à savourer ce que j'avais.
</p>
<p>Après un BAC S, mon parcours universitaire a beaucoup tourné autour de l'informatique. J'ai commencé par un IUT informatique pour réussir au bout de quelques années un Doctorat Informatique. Ces années m'ont aussi permises d'être le papa de trois beaux enfants et de maintenant travailler pour une Startup Américaine.</p>
<h2>Recherche</h2>
<p>Puisque j'ai moi même souvent eu des problèmes à trouver des articles de recherche sur Internet, je mets tous les miens à disposition ici. Vous pourrez trouver ma thèse et toute mes publications sur la page dédiée <a href="@jousse.controllers.routes.Application.show("research")">Identification nommée du locuteur</a>.</p>

}
