@()

@main("À propos", "/about") {
<!-- Content Start -->
<div class="full-width">
    <h2>Contact</h1>

        <ul class="widget-list">
            <li><span class="green">Twitter</span> : <a href="http://twitter.com/vjousse">vjousse</a></li>
            <li><span class="green">Email :</span> &#118;&#105;&#110;&#099;&#101;&#110;&#116;&#064;&#106;&#111;&#117;&#115;&#115;&#101;&#046;&#111;&#114;&#103;</li>
        </ul>

    <h2>Travaux de recherche</h1>

    <p>Vous pourrez trouver ma thèse et toute mes publications sur la page dédiée <a href="@jousse.controllers.routes.Application.show("research")">Identification nommée du locuteur</a>.</p>
</div>

}
