@()(implicit request: Request[AnyContent])

@main("Contact") {
<!-- Content Start -->
<div class="three-fourth">
    <h1>Me trouver au Mans</h1>
    <p>
<iframe width="688" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=75+boulevard+alexandre+oyon+le+mans&amp;aq=&amp;sll=48.005246,0.199293&amp;sspn=0.006468,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=75+Boulevard+Alexandre+Oyon,+72100+Le+Mans,+Sarthe,+Pays+de+la+Loire&amp;t=h&amp;ll=48.000662,0.193205&amp;spn=0.020101,0.059052&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=75+boulevard+alexandre+oyon+le+mans&amp;aq=&amp;sll=48.005246,0.199293&amp;sspn=0.006468,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=75+Boulevard+Alexandre+Oyon,+72100+Le+Mans,+Sarthe,+Pays+de+la+Loire&amp;t=h&amp;ll=48.000662,0.193205&amp;spn=0.020101,0.059052&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
    </p>

    <p>Même si je travaille pour <a href="http://jirafe.com">Jirafe</a> qui se situe de l'autre côté de l'atlantique, vous pouvez me trouver au <a href="http://www.clubzogo.com">Club Zogo</a> au pied de la gare sud. Le télétravail c'est bien, mais avec des collègues dans le bureau c'est encore mieux.</p>

    <div class="thirty-margin-filler"></div>
    <div class="horizontal-rule"></div>
    <div class="thirty-margin-filler"></div>

</div>

    <!-- Contacts Widget Start -->
    <div class="one-fourth-last">
        <h5>Entreprise actuelle</h5>
        <div class="horizontal-rule"></div>
        <ul class="widget-list">
            <li><span class="green"><a href="http://jirafe.com">Jirafe</a></span>, 120 West 45th Street, New York, NY 10036</li>
            <li><span class="green">Email :</span> vincent.jousse@@jirafe.com</a></li>
    </ul>
</div>


    <!-- Contacts Widget Start -->
    <div class="one-fourth-last">
        <h5>Où me trouver</h5>
        <div class="horizontal-rule"></div>
        <ul class="widget-list">
            <li><span class="green">Club Zogo</span>, 75 boulevard Oyon<br />71000 Le Mans</li>
            <li>C'est au pied de la gare, sortie gare sud</li>
        </ul>
    </div>

    <div class="one-fourth-last">
        <h5>Contact Perso</h5>
        <div class="horizontal-rule"></div>
        <ul class="widget-list">
            <li><span class="green">Twitter</span> : <a href="http://twitter.com/vjousse">vjousse</a></li>
            <li><span class="green">Github</span> : <a href="http://github.com/vjousse">vjousse</a></li>
            <li><span class="green">Email :</span> vincent@@jousse.org</li>
            <li><span class="green">Domicile : </span>Le Mans</li>
        </ul>
    </div>
    <!-- Contacts Widget End -->
}
