@()

@progress(stars: String, sign: String) = {

    @for(star <- stars) {
        <img src="@routes.Assets.at("images/magenta-star.png")" />
    }
    <img src="@routes.Assets.at("images/" + (sign match {
            case "=" => "equal.png"
            case "+" => "arrow-up.png"
            case "-" => "arrow-down.png"
            case _ => "?.png"
            }))" />
}


@main("CV", "/cv") {
<div class="three-fourth">
    <h1>Preamble</h1>
    <p>
    <span class="dropcap1">T</span>his CV is splitted in two parts. First you'll find my university degrees and then, the interesting part: what I can give to you.</p>
    <p>Be sure to <a href="@jousse.controllers.routes.Application.show("contact")">contact</a> me if you have any question.<p>
</div>

<div class="one-fourth-last">

    <!-- Contacts Widget Start -->
    <div class="one-fourth-last">
        <h5>More about me</h5>
        <div class="horizontal-rule"></div>
        <ul class="widget-list">
            <li><span class="green">City: </span>Le Mans</li>
            <li><span class="green">Age: </span>30 years old</li>
            <li><span class="green">Situation: </span>Married, happy father</li>
        </ul>
    </div>
    <!-- Contacts Widget End -->


</div>

<div class="full-width">
    <h1>Degrees</h1>
    <div class="thirty-margin-filler"></div>
    <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <th>Year</th>
                <th>Degree</th>
                <th>School</th>
            </tr>
            <tr>
                <td>2007 - 2011</td>
                <td><a href="@jousse.controllers.routes.Application.show("research")">Ph.D Thesis</a></td>
                <td>LIUM (Le Mans)</td>
            </tr>
            <tr class="even">
                <td>2005 - 2007</td>
                <td>Research Masters degree in computer science (M2)</td>
                <td>University of Maine - Le Mans</td>
            </tr>
            <tr>
                <td>2004 - 2005</td>
                <td>Bachelor of art degree in computer science (L3)</td>
                <td>University of Angers</td>
            </tr>
            <tr class="even">
                <td>1999 - 2001</td>
                <td>BTEC Higher National Diploma in computer science (DUT)</td>
                <td>University Institute of Technology - Nantes</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="full-width">
    <h1>Skills</h1>

    <div class="one-fourth">
        <h6>Languages</h6>
        <ul>
            <li>Scala @progress("*","+")</li>
            <li>Haskell @progress("*","+")</li>
            <li>PHP @progress("***","=")</li>
            <li>Python @progress("*","=")</li>
            <li>Ruby @progress("*","=")</li>
        </ul>
    </div>
    <div class="one-fourth">
        <h6>Frameworks</h6>
        <ul>
            <li>Play2.0 (scala) @progress("*","+")</li>
            <li>symfony 1 @progress("***","=")</li>
            <li>Symfony2 @progress("**","=")</li>
            <li>Flask @progress("*","=")</li>
            <li>NodeJS @progress("*","=")</li>
            <li>Django @progress("*","=")</li>
        </ul>
    </div>
    <div class="one-fourth">
        <h6>Tools</h6>
        <ul>
            <li>GNU/Linux (user and admin) @progress("***","+")</li>
            <li>Vim @progress("**","+")</li>
            <li>Git @progress("**","+")</li>
            <li>MAC OS X @progress("***","=")</li>
            <li>Windows @progress("**","-")</li>
        </ul>
    </div>
    <div class="one-fourth-last">
        <h6>Wildcard</h6>
        <ul>
            <li>English (oral, written) @progress("***","+")</li>
            <li>Machine learning @progress("**","=")</li>
            <li>Scrum @progress("**","+")</li>
            <li>NoSQL (mongo) @progress("*","=")</li>
        </ul>

    </div>
</div>

}
