@()

@main("Home", "/") {

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
              <h1>Sharing <a href="http://github.com/vjousse">code</a>, <a href="#">ideas</a> and <a href="/research/">research</a>.</h1>
              <p class="lead"><strong>Sharing is easy</strong>. Most of the time, you just have to push a button to publish your work. By doing so, you may do a <strong>difference in the life of people</strong>, even a small one. But for you to know, <strong>you first have to try</strong>, and that's the hardest part.</p>
            <p class="lead">So, here is my attempt at <a href="#">sharing ideas</a>, <a href="http://github.com/vjousse">code</a> and <a href="/research/">research</a>. I hope it will be useful to some of you. If so, be sure to <a href="#">tell it to me</a>. If not, be sure to <a href="#">tell it too</a>. In any cases, don't forget to <strong>smile and enjoy</strong>!</p>
          </div>
        </div>
      </div>

    }
