@()(implicit request: Request[AnyContent])


@slogan = {
<div class="green-horizontal-rule"></div>
<!-- Slogan Start -->
<div id="slogan">
    <span class="slogan-large">L'</span>avenir n'est jamais que du <span class="green">présent</span> à mettre en ordre. Tu n'as pas à le prévoir, mais à le <span class="green">permettre</span> -- Antoine de Saint Exupéry</div>
<!-- Slogan End -->
<div class="green-horizontal-rule"></div>
}

@main("Accueil", slogan) {
    <div class="full-width">
        <div class="one-third">
            <h1>Pourquoi ?</h1>
            <p>On ne sait jamais, sur un malentendu ça peut servir ! Et pour dire vrai, je serais heureux si quelque chose sur ce site pouvait vous être <strong>utile</strong>. C'est une raison suffisante non ?
            <p>N'hésitez pas à me <a href="@routes.Application.show("contact")">contacter</a> pour n'importe quelle question, je vous répondrai avec plaisir.</p>
        </div>

        <div class="two-third-last">
            <h1>Comment ?</h1>
            <p>Tout d'abord si vous souhaitez télécharger des articles au sujet de la <strong>reconnaissance automatique de la parole ou des locuteurs</strong>, vous pouvez le faire dans la section <a href="@routes.Application.show("research")">Recherche</a>. Vous y trouverez mes <strong>publications et ma thèse</strong> sur le sujet.</p>
            <p>Ensuite si vous cherchez des choses au sujet de <strong class="green">Symfony</strong>, des méthodes <strong class="green">Agiles</strong> ou des <strong class="green">technologies web</strong> en général vous devriez trouver votre bonheur dans la rubrique <a href="@routes.Application.show("blog")">Blog</a> (français/anglais).
            <p>Pour finir, si vous avez atterri ici en vous demandant qui je suis, vous devriez jeter un œil à mon <a href="@routes.Application.show("cv")">CV</a>.</p>
        </div>
    </div>

}
