@(form: Form[(String,String)])(implicit request: Request[AnyContent])

@main("Login") {
<div class="full-width">
    <h1>Login</h1>
    <p>Use the below form to login to the blog admin.</p>
    <div class="thirty-margin-filler"></div>
    <fieldset>
        @helper.form(jousse.controllers.routes.Login.authenticate) {

            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }

            @request.flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            <p>
            <label for="username">Username:</label><br />
            <input type=text id="username" name="username" value="@form("username").value">
            </p>
            <p>
            <label for="password">Password:</label><br />
            <input type=password id="password" name="password" value="@form("password").value">
            </p>
            <p>
            <input class="small button" type="submit" value="Login">
            </p>
        }
    </fieldset>
</div>
}
