@(title: String, parent: String = "/", slogan: Html = Html(""))(content: Html)
@import tags.menu
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="description" content="Vivre sa vie, réussir sa vie">
    <meta name="author" content="Vincent Jousse">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/skeleton.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/layout.css")">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
</head>
<body>

    <div class="container">
        <div class="sixteen columns">
            <div class="row">
                <div id="logo" class="six columns alpha">
                    <a href="/">Vivre sa vie</a>
                </div>
                <div class="ten columns omega" id="header-nav">
                    @menu(parent)
                </div>
            </div>
            <hr />
        </div>

        <div class="sixteen columns clearfix">
            @content
        </div>

        <div class="sixteen columns clearfix">
            <hr />
            <div class="row">
                <div id="footer-nav" class="ten columns omega">

                    @menu(parent)
                </div>
                <div id="footer-copyright" class="six columns alpha">
                    License&nbsp;:
                    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons by-nc-sa</a>
                </div>
            </div>
        </div>

    </div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25989146-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
