@(title: String, parent: String = "/", slogan: Html = Html(""))(content: Html)
@import tags.menu
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="canonical" href="http://vincent.jousse.org/" />
    <link rel="author" href="https://plus.google.com/104789707718459565965"/>
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")" media="screen">
    <link rel="stylesheet" href="@routes.Assets.at("css/bootswatch.min.css")" media="screen">
    <link rel="stylesheet" href="@routes.Assets.at("css/style.css")" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("js/html5shiv.js")"></script>
      <script src="@routes.Assets.at("js/respond.min.js")"></script>
    <![endif]-->

    <meta name="author" content="Vincent Jousse">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="@jousse.controllers.routes.Blog.rss()" />
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">

            <div class="navbar-header">
                <a href="../" class="navbar-brand">Vincent Jousse</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                @menu(parent)
                <!--
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Ideas</a>
                    </li>
                    <li>
                        <a href="http://github.com/vjousse">Code</a>
                    </li>
                    <li>
                        <a href="#">Research</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                -->
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="container">
        @content


    </div>

    <script src="@routes.Assets.at("js/jquery-1.10.2.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

</body>
</html>
