@()(implicit request: Request[AnyContent])

@main("Research", "/research/") {


<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <h1>Named speaker identification</h1>

        <p class="lead">Named speaker identification tries to answer a very simple question: <strong>who spoke when</strong>?</p>

        <p class="lead">Such a simple question for more than 3 years of work. You'll find below all my papers (french and english) on the subject and the final version of my <a href="https://github.com/vjousse/phd-thesis">PhD thesis (in french)</a>.</p>

        <h2>Abstract</h2>

        <p>The automatic processing of speech is an area that encompasses a large number of works: speaker recognition, named entities detection or transcription of the audio signal into words. Automatic speech processing techniques can extract number of information from audio documents (meetings, shows, etc..) such as transcription, some annotations (the type of show, the places listed, etc..) or even information concerning speakers (speaker change, gender of speaker). All this information can be exploited by automatic indexing techniques which will allow indexing of large document collections.</p>

        <p>The work presented in this thesis are interested in the automatic indexing of speakers in french audio documents. Specifically we try to identify the various contributions of a speaker and nominate them by their first and last name. This process is known as named identification of the speaker. The particularity of this work lies in the joint use of audio and its transcript to name the speakers of a document. The first and last name of each speaker is extracted from the document itself (from its rich transcription more accurately), before being assigned to one of the speakers of the document.</p>

        <p>We begin by describing the context and previous work on the speaker named identification process before submitting Milesin, the system developed during this thesis. The contribution of this work lies firstly in the use of an automatic detector of named entities (LIA_NE) to extract the first name / last name of the transcript. Afterwards, they rely on the theory of belief functions to perform the assignment to the speakers of the document and thus take into account the various conflicts that may arise. Finally, an optimal assignment algorithm is proposed.</p>

        <p>This system gives an error rate of between 12 and 20 % on reference transcripts (done manually) based on the corpus used. We then present the advances and limitations highlighted by this work. We propose an initial study of the impact of the use of fully automatic transcriptions on Milesin.</p>

        <a name="biblio"></a>
        <h2>Bibliography</h2>
        <ul class="list-circle" style="float:none;clear:both;">
            <li><strong class="green">Jousse V</strong>. <strong><em>Identification nommée du locuteur : exploitation conjointe du signal sonore et de sa transcription</em></strong>. Manuscrit de thèse. Soutenue le 4 mai 2011.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/jousse-phd-thesis.pdf")">Télécharger le PDF</a></li>
            <li>Estève Y, Deléglise P, Meignier S, Petitrenaud S, Schwenk H, Barrault L, Bougares F, Dufour R, <strong class="green">Jousse V</strong>, Laurent A, Rousseau A .  <strong><em>Some recent research work at LIUM based on the use of CMU Sphinx.</em></strong> CMU SPUD Workshop, Dallas(Texas), march 13, 2010. Article court, 6 pages.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/some-recent-research-work.pdf")">Télécharger le PDF</a></li>

            <li>Petitrenaud S, <strong class="green">Jousse V</strong>, Meignier S, Estève Y .  <strong><em>Speaker identification using belief functions.</strong></em> Information Processing and Management of Uncertainty (IPMU'10), Dortmund(Germany), 28 june- 2 july 2010. Article court, Part I, pp. 179-188.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/speakerbeliefIPMU10.pdf")">Télécharger le PDF</a></li>

            <li>Petitrenaud S, <strong class="green">Jousse V</strong>, Meignier S, Estève Y .  <strong><em>Reconnaissance Automatique de Locuteurs à l'aide de Fonctions de Croyance.</em></strong> 17e congrès francophone Reconnaissance des Formes et Intelligence Artificielle (RFIA'10), Caen(France), 20-22 janvier 2010. Article court, 7 pages.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/ident_locuteur_RFIA10.pdf")">Télécharger le PDF</a></li>

            <li>Dufour R, <strong class="green">Jousse V</strong>, Estève Y, Béchet F, Linarès G .  <strong><em>Spontaneous Speech Characterization and Detection in Large Audio Database.</em></strong> 13-th International Conference on Speech and Computer (SPECOM 2009), St Petersburg(Russia), 21-25 june 2009. Article court, 6 pages.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/EPAC_WP3_2008_01.pdf")">Télécharger le PDF</a></li>


            <li><strong class="green">Jousse V</strong>, Petitrenaud S, Meignier S, Estève Y, Jacquin C .  <strong><em>Automatic named identification of speakers using diarization and ASR systems.</em></strong> ICASSP 2009, Taïpei(Taïwan), 19-24 april 2009. Article court, pp. 4557 - 4560</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/automatic-named-identification.pdf")">Télécharger le PDF</a></li>


            <li><strong class="green">Jousse V</strong>, Meignier S, Jacquin C, Petitrenaud S, Estève Y, Daille B .  <strong><em>Analyse conjointe du signal sonore et de sa transcription pour l'identification nommée de locuteur.</em></strong> In Traitement automatique des langues, 50(1), edited by ATALA,  2009. Article long, pp. 201-225</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/TAL-2009-50-1-08-Jousse.pdf")">Télécharger le PDF</a></li>


            <li><strong class="green">Jousse V</strong>, Estève Y, Béchet F, Bazillon T, Linarès G .  <strong><em>Caractérisation et détection de parole spontanée dans de larges collections de documents audio.</em></strong> JEP/TALN 2008, Avignon(France), 9-13 juin 2008. Article court, 4 pages.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/JOU08-sponta.pdf")">Télécharger le PDF</a></li>


            <li><strong class="green">Jousse V</strong>, Jacquin C, Meignier S, Estève Y, Daille B .  <strong><em>Etude pour l'amélioration d'un système d'identification nommée du locuteur.</em></strong> JEP/TALN 2008, Avignon(France), 9-13 juin 2008. Article court, 4 pages.</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/JOU08-spkid.pdf")">Télécharger le PDF</a></li>


            <li>Bazillon T, <strong class="green">Jousse V</strong>, Béchet F, Estève Y, Linarès G, Luzzati D .  <strong><em>La parole spontanée : transcription et traitement.</em></strong> In Traitement Automatique des Langues, 49(3), edited by ATALA : Association pour le Traitement Automatique des Langues,  200. Article long, pp. 47-76</li>
            <li class="download"><a href="@routes.Assets.at("resources/pdf/Baz_TAL08.pdf")">Télécharger le PDF</a></li>

        </ul>

    </div>
</div>



}
