@()

@main("The shut up manifesto", "/shut-up-manifesto") {

<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <h1>The shut up manifesto</h1>
        <p>If you want to make a difference in your life the first thing you&#8217;ll have to do is to <strong>shut up when you speak</strong>.</p>

        <p>When you:</p>

        <ul>
            <li><em>Say you <strong>don&#8217;t have the time</strong></em>: shut up. It&#8217;s just an excuse. The reality is that you don&#8217;t want to find the time. Assume it.</li>
            <li><em>Say you <strong>can&#8217;t</strong></em>: shut up. Say that you choose to not try instead, it will be closer to the actual reality.</li>
            <li><em>Start to <strong>gossip</strong></em>: shut up.  The more you&#8217;ll gossip, the more you&#8217;ll see the world in a negative way.</li>
            <li><em>Say to other people that something is <strong>impossible</strong></em>: shut up. Don&#8217;t break the dreams that you don&#8217;t dare to have.</li>
            <li><em>Let speak your <strong>chatty negative voice</strong> inside yourself</em>: shut this voice up. Trying to think instead of people or to imagine the worst has never done anything good. Never, ever.</li>
        </ul>

        <p>So please, <strong>shut up</strong>, but for fuck sake, speak your mind, the universe will thank you.</p>
    </div>
</div>
}
